.commentBox,
.commentList {
  width: 50%;
  margin: 0 auto;
}
.row,
.header {
  text-align: center;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
